<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>GeneralConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>GeneralConstraint</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>CarresSec</realm-name>
        <form-login-config>
            <form-login-page>inloggen.jsp</form-login-page>
            <form-error-page>inloggenError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Gewone werknemer</description>
        <role-name>1</role-name>
    </security-role>
    <security-role>
        <description>Manager</description>
        <role-name>2</role-name>
    </security-role>
    <security-role>
        <description>Boekhouders</description>
        <role-name>3</role-name>
    </security-role>
    <security-role>
        <description>Manager en boekhouder</description>
        <role-name>23</role-name>
    </security-role>
</web-app>
