/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2016, 7:25:51 PM
    Author     : simon
*/

body
{
    background-color: #333333;
    margin: 0 auto;

}

.container
{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: #E6E4E2;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 150px;
}

.headImg
{
    width: 120px;
    height: 120px;
    margin-top: 0px;
}

.errorTekst
{
    font-family: Arial;
    font-size: 24px;
    margin-top: 43px;
    margin-left: 10px;
    margin-right: 10px;
}

.errorBut
{
    color: #E6E4E2;
    background-color: #E95420;
    box-shadow: 0px 2px 3px #a19f9e;
    border: none;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 41px;
    padding-right: 41px;
    margin-top: 48px;
}